$primary: #899ed4;
$secondary: rgba(83, 124, 194, 0.15);
$dark: #404040;
$muted: rgba(64, 64, 64, 0.25);
$font-family-base: "Segoe UI", sans-serif;
$light: #fcfcfc;

// Import Bootstrap
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}
@import "bootstrap/scss/bootstrap";

#sidebar .nav-link.router-link-exact-active {
  background-color: $secondary;
  border-radius: 0.25rem;
}

.nav > .nav {
  margin-left: 1rem;
}
.page-link.active,
.active > .page-link {
  background-color: #537cc226;
}
.bg-secondary {
  background-color: #537cc226;
}
