<div class="welcome-container">
  <div class="welcome-text">
    <h1 class="title">{{ this.content.home.simple_welcome}}</h1>
    <p class="subtitle">
      <span class="create">{{this.content.common.create}}</span> {{this.content.saying_words.entries}}, 
      <span class="read">{{this.content.common.read}}</span> {{this.content.saying_words.details}}, 
      <span class="update">{{this.content.common.update}}</span> {{this.content.saying_words.information}}, 
      {{this.content.saying_words.and}} <span class="delete"> {{this.content.common.delete}}</span> {{this.content.saying_words.needs}}
    </p>

    <div class="icons">
      <button class="icon-btn"><i class="bi bi-plus-lg"></i></button>
      <button class="icon-btn"><i class="bi bi-list-task"></i></button>
      <button class="icon-btn"><i class="bi bi-pencil-square"></i></button>
      <button class="icon-btn"><i class="bi bi-trash"></i></button>
    </div>
  </div>

  <div class="circle"></div>
</div>
