<div class="sidebar">

  <div class="sidebar-content">
    <div class="section-label entities-label">{{ this.content.navbar.entities}}</div>
    <ng-container *ngFor="let entry of entities | keyvalue">
      <a class="entities" routerLink="{{ entry.value }}" routerLinkActive="active">
        {{ entry.key }}
      </a>
    </ng-container>

    <div class="section-label views-label">{{ this.content.navbar.views}}</div>
    <ng-container *ngFor="let entry of views | keyvalue">
      <a class="views" routerLink="{{ entry.value }}" routerLinkActive="active">
        {{ entry.key }}
      </a>
    </ng-container>
  </div>
</div>
