${modelType}
<!-- Header -->
<header class="header">
    <h3>${className} / <span class="page-action">Create</span></h3>
    <button class="btn-primary" type="button" onclick="window.location.href='${backLink}'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 47.26">
            <title>Previous Page</title>
            <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                    <g id="arrow_back-1" data-name="arrow back-1">
                        <path d="M56.5,26.13H2.5a2.5,2.5,0,0,1,0-5h54a2.5,2.5,0,0,1,0,5Z" />
                        <path
                            d="M23.63,47.26a2.49,2.49,0,0,1-1.77-.73L.73,25.4a2.51,2.51,0,0,1,0-3.54L21.86.73A2.5,2.5,0,0,1,25.4,4.27L6,23.63,25.4,43a2.5,2.5,0,0,1-1.77,4.27Z" />
                    </g>
                </g>
            </g>
        </svg>
        <p>Back to list</p>
    </button>
</header>

<!-- Content -->
<main class="content">
    ${validationSection}
    <!-- Form -->
    <form ${createLink} method="post" class="form" id="${className}Form">
        {{#each inputs}}
        <div class="form-input">
            <label for="${this.name}">
                ${this.name}
                {{#if this.isRequired}}<span class="required-sign">*</span>{{else}}{{removeLine}}{{/if}}
            </label>
            {{#if this.type = radio}}{{removeLine}}
            <div class="input-boolean-options">
                <input type="${this.type}" ${inputTagHelper} ${checkedRadioTagHelper} value="true"><p>True</p>
                <input type="${this.type}" ${inputTagHelper} ${checkedRadioTagHelper} value="false"><p>False</p>
            </div>
            {{else}}{{removeLine}}
            <input type="${this.type}" ${inputTagHelper} placeholder="${this.placeholder}" {{#each this.validations}}${this} {{/each}}>
            {{/if}}{{removeLine}}
            <span ${validationTagHelper} class="field-validation-error"></span>
        </div>
        {{/each}}{{removeLine}}

        {{#each fieldsFK}}
        <div class="form-input">
            <label for="${this.columnNameField}">
                ${this.columnNameField}
                {{#if !this.isNullable}}<span class="required-sign">*</span>{{else}}{{removeLine}}{{/if}}
            </label>
            <select ${selectTagHelper}>
                <option value="">-- Select ${this.type} --</option>
            </select>
            <span ${selectValidationTagHelper} class="field-validation-error"></span>
        </div>
        {{/each}}{{removeLine}}

        <div class="form-actions">
            <button type="reset" class="reset-button">Reset to default</button>
            <div class="action-options">
                <button onclick="window.location.href='${backLink}'" type="button" class="action-cancel">Cancel</button>
                <button type="submit" class="action-save">Save</button>
            </div>
        </div>
  </form>
</main>

<!-- Include client-side validation scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>