${modelType}
<!-- Header -->
<header class="header">
    <h3>${className} / <span class="page-action" data-i18n="details"></span></h3>
    <button class="btn-primary" type="button" onclick="window.location.href='${backLink}'">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59 47.26">
            <title data-i18n="previous_page"></title>
            <g id="Layer_2" data-name="Layer 2">
                <g id="Layer_1-2" data-name="Layer 1">
                    <g id="arrow_back-1" data-name="arrow back-1">
                        <path d="M56.5,26.13H2.5a2.5,2.5,0,0,1,0-5h54a2.5,2.5,0,0,1,0,5Z" />
                        <path
                            d="M23.63,47.26a2.49,2.49,0,0,1-1.77-.73L.73,25.4a2.51,2.51,0,0,1,0-3.54L21.86.73A2.5,2.5,0,0,1,25.4,4.27L6,23.63,25.4,43a2.5,2.5,0,0,1-1.77,4.27Z" />
                    </g>
                </g>
            </g>
        </svg>
        <p data-i18n="back_list"></p>
    </button>
</header>

<!-- Content -->
<main class="content">
    <!-- Form -->
    <form class="form">

        {{#each fields}}
        <div class="form-input">
            <label for="">${this.name}</label>
            <input type="text" name="${this.name}" id="${this.name}" placeholder="${this.name}" value="{{#if this.isForeignKey}} ${dataForeignValue} {{else}} ${dataValue} {{/if}}" readonly>
        </div>
        {{/each}}{{removeLine}}

        {{#if !isView}}<div class="form-actions">
            <div class="action-options">
                <button onclick="window.location.href='${updateLink}'" type="button" class="action-cancel"><span data-i18n="update"></span></button>
                <button ${deleteLink} type="button" class="btn-delete action-save"><span data-i18n="delete"></span></button>
            </div>
        </div>

        <!-- Modal -->
        <div id="customModal" class="modal-overlay"
           data-trigger=".btn-delete"
           data-input="${className}Id"
           data-text="${className}IdText">
            <div class="modal-box">
                <button type="button" id="cancelBtn" class="btn-cancel">&times;</button>
                <div class="warning-icon">⚠️</div>
                <h3><span data-i18n="delete_confirmation"></span> "<span id="${className}IdText"></span>"?</h3>
                <p data-i18n="delete_warning"></p>
                <form id="deleteForm" method="post" ${deleteLink}>
                    @Html.AntiForgeryToken()
                    {{#each fields}}{{#if this.isForeignKey = false}}{{#if this.isPrimaryKey = true}}
                    <input type="hidden" name="${this.name}" id="${className}Id" />{{/if}}{{else}}{{removeLine}}{{/if}}
                    {{/each}}{{removeLine}}
                    <button type="submit" class="btn-confirm"><span data-i18n="delete"></span></button>
                </form>
            </div>
        </div>{{/if}}
    </form>
</main>
{{#if !isView}}${scriptSection}{{/if}}