${modelType}
<!-- Header -->
<header class="header">
    <h3>${className} / <span class="page-action">Details</span></h3>
</header>

<!-- Content -->
<main class="content">
    <!-- Table -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    {{#each fields}}
                    <th>{{#if this.isForeignKey}} ${this.type} {{else}} ${this.name} {{/if}}</th>
                    {{/each}}{{removeLine}}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {{#each fields}}
                    <td>{{#if this.isForeignKey}} ${dataForeignValue} {{else}} ${dataValue} {{/if}}</td>
                {{/each}}{{removeLine}}
                </tr>
            </tbody>
        </table>
    </div>
</main>

