${modelType}
<div class="header">
    <h1 class="page-title">${className} / <span class="page-type"><span class="page-action"
                data-i18n="details"></span></span></h1>
    <a href="${backLink}" class="btn btn-primary btn-md">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M19 12H5M12 19l-7-7 7-7" />
        </svg>
        <p data-i18n="back_list"></p>
    </a>
</div>

<form class="form">
    {{#each fields}}
    <div class="form-group">
        <label for="${this.name}">${this.name}</label>
        <input type="text" value="{{#if this.isForeignKey}} ${dataForeignValue} {{else}} ${dataValue} {{/if}}" readonly>
    </div>
    {{/each}}{{removeLine}}

    {{#if !isView}}<div class="form-actions">
        <div class="form-actions-left">
            <button class="btn btn-danger btn-sm">
                <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2">
                    <path
                        d="M3 6h18M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2M10 11v6M14 11v6" />
                </svg>
                <span data-i18n="delete"></span>
            </button>
        </div>

        <div class="form-actions-right">
            <a href="${updateLink}" class="btn btn-secondary btn-sm">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M19 21H5a2 2 0 01-2-2V5a2 2 0 012-2h11l5 5v11a2 2 0 01-2 2z" />
                    <path d="M17 21v-8H7v8M7 3v5h8" />
                </svg>
                <span data-i18n="update"></span>
            </a>
        </div>
    </div>{{/if}}
</form>
{{#if !isView}}${scriptSection}{{/if}}