<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>${projectName}</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <ul>
                {{#each entities}}
                    <li>
                        <a ${navLink}>${this.entityName}</a>
                    </li>
                {{/each}}{{removeLine}}
                {{removeLine}}
                </ul>
            </nav>
        </header>
        <main>
            ${callContent}
        </main>
        <footer>
            <p>&copy; 2025 - ${projectName}</p>
        </footer>
    </div>
</body>
</html>