/* Container principal */
.detail-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* toujours 2 colonnes */
  gap: 1rem 2rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
}

/* Item individuel */
.detail-item {
  display: flex;
  flex-direction: column;
}

/* Labels */
label {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 4px;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  color: #1f2937;
}

/* Inputs */
input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 300;
  height: 42px;
  box-sizing: border-box;
  background-color: white;
  transition: border-color 0.2s;
}

input:focus {
  border-color:var(--primary-light);
  outline: none;
}


.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  grid-column: 1 / -1;
}

@media (max-width: 700px) {
  .action-buttons {
    justify-content: flex-end;
    gap: 8px;
  }
}

.update-btn, .delete-btn {
  height: 42px;
  padding: 0 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* espace icône/texte */
  transition: background-color 0.2s, color 0.2s;
}

/* Bouton Update */
.update-btn {
  border: 2px solid var(--primary);
  background-color: transparent;
  color:var(--primary);
}

.update-btn:hover {
  background-color:var(--primary);
  color: white;
}

.update-btn i {
  color: var(--primary);
  font-size: 1.2rem;
}

.update-btn:hover i {
  color: white;
}

/* Bouton Delete */
.delete-btn {
  border: 2px solid #dc3545;
  background-color: transparent;
  color: #dc3545;
}

.delete-btn:hover {
  background-color: #dc3545;
  color: white;
}

.delete-btn i {
  color: #dc3545;
  font-size: 1.2rem;
}

.delete-btn:hover i {
  color: white;
}

/* Responsive pour petits écrans */
@media (max-width: 700px) {
  .detail-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem 1rem;
  }

  input {
    font-size: 0.9rem;
    height: 40px;
  }

  .action-buttons {
    justify-content: flex-start; /* boutons alignés à gauche si besoin */
    gap: 8px;
  }
}
