<div class="detail-grid">
  <div class="detail-item" *ngFor="let item of entries">
    <label>{{ this.langService.makeItReadable(item[0])}}</label>
    <input type="text" [value]="this.langService.formatValue(item[1])" readonly>
  </div>

  <div class="action-buttons">
    <button class="update-btn" (click)="onUpdateClick()" >
      <i class="bi bi-pencil-fill"></i> {{ this.content.common.update}}
    </button>

    <button class="delete-btn" *ngIf="deletfn" (click)="onDeleteClick()">
      <i class="bi bi-trash-fill"></i> {{ this.content.common.delete}}
    </button>
  </div>


  <app-confirmation-box
    *ngIf="showConfirmation"
    [message]="'Are you sure you want to delete <b>' + this.id+ '</b>?'"
    [value]="this.id"
    [onConfirm]="confirmDelete"
    [onCancel]="cancelDelete">
  </app-confirmation-box>
</div>
