/* You can add global styles to this file, and also import other style files */
:root {

  --primary: #2263cb;
  --primary-light: #3a7de0;
  --primary-dark: #194a9c;


  --bg-hover: #e6f0ff;
  --bg-active: #dbe6ff;
}
