@import 'tailwindcss';
* {
  scrollbar-width: thin;
}
@plugin "daisyui";

/* Thème custom Genesis */
@plugin "daisyui/theme" {
  name: 'genesis-light';
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: #fcfcfc;
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);

  --color-primary: #537cc2;
  --color-primary-content: oklch(93% 0.034 272.788);

  --color-secondary: color-mix(in oklch, var(--color-primary) 15%, white);
  --color-secondary-content: var(--color-base-content);

  --color-accent: oklch(87% 0.15 154.449);
  --color-accent-content: oklch(38% 0.063 188.416);

  --color-neutral: #404040;
  --color-neutral-content: oklch(92% 0.004 286.32);

  --color-info: #3abff8;
  --color-info-content: oklch(29% 0.066 243.157);

  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);

  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);

  --color-error: #f87272;
  --color-error-content: oklch(27% 0.105 12.094);

  /* Radius & UI tokens */
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'genesis-dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #1c1c1c;
  --color-base-200: #2a2a2a;
  --color-base-300: #333;
  --color-base-content: #f0f0f0;
  --color-primary: #537cc2;
  --color-primary-content: #f5f7ff;
  --color-secondary: rgba(107, 142, 214, 0.2);
  --color-secondary-content: oklch(21% 0.006 285.885);
  --color-accent: #57d9a3;
  --color-accent-content: #163229;
  --color-neutral: #d6d6d6;
  --color-neutral-content: #111;
  --color-info: #0ea5e9;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #22c55e;
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
